* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbottom {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #f87f0a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  color: #444040;
}

.btnnav{
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  background-color: #0c911e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
}

.logo {
  height: 55px;
  width: auto;
}
.sub
.menu {
  display: none;
}

.navtop{
  background: #7e2a2a;
}

@media screen and (max-width: 600px) {
  ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #7e2a2a;
    width: 100%;
    height: 100vh;
    padding: 2rem;
    /* transform: translateX(100%); */
    transition: transform 0.5s ease-in-out;
    z-index: 10000;
  }
  .open {
    display: block;
  }
  .btnnav {
    display: none;
  }

.menu {
  display: block;
  font-size: 20px;
  cursor: pointer;
  color: #181717;
  padding: 14px 16px;
  text-align: center;
}
  .open {
    display: block;
  }
  .close {
    display: none;
  }
}