* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btnnav{
  padding: 0.5rem 1rem;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-weight: bold;
  background-color: #0c911e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-transform: uppercase;
}

.logo {
  height: 60px;
  width: auto;
}